node_modules
# Keep environment variables out of version control
.env
*-lock.json
lib

# Files created by Visual Studio Code
.vscode

# Remove demo files
demo

# Remove expressots config file
expressots.config.ts