node_modules
# Keep environment variables out of version control
.env
*-lock.json
lib

# Files created by Visual Studio Code
.vscode

# Remove demo files
/demo/
demo

# Remove expressots config file
expressots.config.ts

# Remove coverage folder
coverage

# remove bin folder
bin

# remove lib folder
lib